# Clean Data part - by Weitong Cai

## Clean First Dataset as Netflix Movie from 2011 to 2021

In [50]:
import os
import csv
import pandas as pd

#Read First csv file path: the netflix_titles
netflix_df = pd.read_csv("Resources/netflix_titles.csv")
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [51]:
#Take only the movie from the type column, we don't need TV show for our project
netflix_moive_df=netflix_df[netflix_df["type"] == "Movie"]
netflix_moive_df = netflix_moive_df.reset_index()
netflix_moive_df.head()

,index,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, Jos√© Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
2,7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
3,9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
4,12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niew√∂hner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...

In [52]:
#Take the columns that are useful for our project question
clean_moive_df = netflix_moive_df[["show_id","title", "director", "country", "release_year", "rating", "duration","listed_in","type"]]

#Rename the columns
clean_moive_df = clean_moive_df.rename(columns = {"show_id" : "Show_ID",
                                                  "title": "Moive Title",
                                                  "director": "Director",
                                                  "country": "Country",
                                                  "release_year":"Release_Year",
                                                  "rating" : "Rating_class",
                                                  "duration" : "Duration",
                                                  "listed_in" : "Categories",
                                                  "type" : "Type",})
print(clean_moive_df.index)
print(clean_moive_df.columns)

clean_moive_df.head(10)

RangeIndex(start=0, stop=6131, step=1)
Index(['Show_ID', 'Moive Title', 'Director', 'Country', 'Release_Year',
       'Rating_class', 'Duration', 'Categories', 'Type'],
      dtype='object')

,Show_ID,Moive Title,Director,Country,Release_Year,Rating_class,Duration,Categories,Type
0,s1,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,PG-13,90 min,Documentaries,Movie
1,s7,My Little Pony: A New Generation,"Robert Cullen, Jos√© Luis Ucha",NaN,2021,PG,91 min,Children & Family Movies,Movie
2,s8,Sankofa,Haile Gerima,"United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies",Movie
3,s10,The Starling,Theodore Melfi,United States,2021,PG-13,104 min,"Comedies, Dramas",Movie
4,s13,Je Suis Karl,Christian Schwochow,"Germany, Czech Republic",2021,TV-MA,127 min,"Dramas, International Movies",Movie
5,s14,Confessions of an Invisible Girl,Bruno Garotti,NaN,2021,TV-PG,91 min,"Children & Family Movies, Comedies",Movie
6,s17,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave Garc√≠a, Pablo Azor√≠n Williams",NaN,2020,TV-MA,67 min,"Documentaries, International Movies",Movie
7,s19,Intrusion,Adam Salky,NaN,2021,TV-14,94 min,Thrillers,Movie
8,s23,Avvai Shanmughi,K.S. Ravikumar,NaN,1996,TV-PG,161 min,"Comedies, International Movies",Movie
9,s24,Go! Go! Cory Carson: Chrissy Takes the Wheel,"Alex Woo, Stanley Moore",NaN,2021,TV-Y,61 min,Children & Family Movies,Movie

In [53]:
#Our project only need data period 2011-2021.
year_netflix_df= clean_moive_df[clean_moive_df["Release_Year"].isin([2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021])]
final_netflix_df=year_netflix_df.reset_index()
del final_netflix_df["index"]
final_netflix_df.head()

,Show_ID,Moive Title,Director,Country,Release_Year,Rating_class,Duration,Categories,Type
0,s1,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,PG-13,90 min,Documentaries,Movie
1,s7,My Little Pony: A New Generation,"Robert Cullen, Jos√© Luis Ucha",NaN,2021,PG,91 min,Children & Family Movies,Movie
2,s10,The Starling,Theodore Melfi,United States,2021,PG-13,104 min,"Comedies, Dramas",Movie
3,s13,Je Suis Karl,Christian Schwochow,"Germany, Czech Republic",2021,TV-MA,127 min,"Dramas, International Movies",Movie
4,s14,Confessions of an Invisible Girl,Bruno Garotti,NaN,2021,TV-PG,91 min,"Children & Family Movies, Comedies",Movie

In [54]:
#Check the type of each column to make sure if "Release_Year" and "Duration" as number
#There are 'NaN' in column "Moive Title", "Director" and "Duration"

print(final_netflix_df.dtypes)

Show_ID         object
Moive Title     object
Director        object
Country         object
Release_Year     int64
Rating_class    object
Duration        object
Categories      object
Type            object
dtype: object

In [55]:
#Transfer the "Duration" from string to integer, if the column = 'NaN', then consider it as integer 0
import numpy as np
final_netflix_df['Duration'] =final_netflix_df['Duration'].str.split().str[0]
final_netflix_df['Duration'] = final_netflix_df['Duration'].apply(lambda x: int(x) if not np.isnan(float(x)) else 0)
print(final_netflix_df.dtypes)

Show_ID         object
Moive Title     object
Director        object
Country         object
Release_Year     int64
Rating_class    object
Duration         int64
Categories      object
Type            object
dtype: object

In [56]:
# Final data frame for Netflix Moive
final_netflix_df

,Show_ID,Moive Title,Director,Country,Release_Year,Rating_class,Duration,Categories,Type
0,s1,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,PG-13,90,Documentaries,Movie
1,s7,My Little Pony: A New Generation,"Robert Cullen, Jos√© Luis Ucha",NaN,2021,PG,91,Children & Family Movies,Movie
2,s10,The Starling,Theodore Melfi,United States,2021,PG-13,104,"Comedies, Dramas",Movie
3,s13,Je Suis Karl,Christian Schwochow,"Germany, Czech Republic",2021,TV-MA,127,"Dramas, International Movies",Movie
4,s14,Confessions of an Invisible Girl,Bruno Garotti,NaN,2021,TV-PG,91,"Children & Family Movies, Comedies",Movie
...,...,...,...,...,...,...,...,...,...
4819,s8792,Young Adult,Jason Reitman,United States,2011,R,94,"Comedies, Dramas, Independent Movies",Movie
4820,s8795,ÿßÿ¥ÿ™ÿ®ÿßŸÉ,Mohamed Diab,"Egypt, France",2016,TV-14,98,"Dramas, Independent Movies, International Movies",Movie
4821,s8799,Zed Plus,Chandra Prakash Dwivedi,India,2014,TV-MA,131,"Comedies, Dramas, International Movies",Movie
4822,s8802,Zinzana,Majid Al Ansari,"United Arab Emirates, Jordan",2015,TV-MA,96,"Dramas, International Movies, Thrillers",Movie
4823,s8807,Zubaan,Mozez Singh,India,2015,TV-14,111,"Dramas, International Movies, Music & Musicals",Movie

In [57]:
#Save the cleaned data for future analysis
final_netflix_df.to_csv('Final_Netflix_Movie.csv', index=False)

# 2.Clean the Second Dataset -- Netflix revenues quarterly from 2018-2020

In [58]:
import pandas as pd

# read the original data
df = pd.read_csv("Resources/DataNetflixRevenue2020_V2.csv")

# create a pivot table
pivot_table = pd.pivot_table(df, values='Revenue', index=['Years'], columns=['Area'], aggfunc=sum)

# add a Grand Total column
pivot_table['Grand Total'] = pivot_table.sum(axis=1)

# add a Row Labels index
pivot_table.reset_index(inplace=True)

# display the pivot table
print(pivot_table.to_string(index=False))

    Years  Asia-Pacific  Europe,  Middle East and Africa  Latin America  United States and Canada  Grand Total
Q1 - 2018     199117000                        886649000      540182000                1976157000   3602105000
Q1 - 2019     319602000                       1233379000      630472000                2256851000   4440304000
Q1 - 2020     483660000                       1723474000      793453000                2702776000   5703363000
Q2 - 2018     221252000                        975497000      568071000                2049546000   3814366000
Q2 - 2019     349494000                       1319087000      677136000                2501199000   4846916000
Q2 - 2020     569140000                       1892537000      785368000                2839670000   6086715000
Q3 - 2018     248691000                       1004749000      562307000                2094850000   3910597000
Q3 - 2019     382304000                       1428040000      741434000                2621250000   5173028000
Q4 - 2018     276756000                       1096812000      567137000                2160979000   4101684000
Q4 - 2019     418121000                       1562561000      746392000                2671908000   5398982000

In [59]:
#Transfer pivot_table to DataFrame
revenue_df = pd.DataFrame(pivot_table)
revenue_df

Area,Years,Asia-Pacific,"Europe, Middle East and Africa",Latin America,United States and Canada,Grand Total
0,Q1 - 2018,199117000,886649000,540182000,1976157000,3602105000
1,Q1 - 2019,319602000,1233379000,630472000,2256851000,4440304000
2,Q1 - 2020,483660000,1723474000,793453000,2702776000,5703363000
3,Q2 - 2018,221252000,975497000,568071000,2049546000,3814366000
4,Q2 - 2019,349494000,1319087000,677136000,2501199000,4846916000
5,Q2 - 2020,569140000,1892537000,785368000,2839670000,6086715000
6,Q3 - 2018,248691000,1004749000,562307000,2094850000,3910597000
7,Q3 - 2019,382304000,1428040000,741434000,2621250000,5173028000
8,Q4 - 2018,276756000,1096812000,567137000,2160979000,4101684000
9,Q4 - 2019,418121000,1562561000,746392000,2671908000,5398982000

In [60]:
#split column 'Years' to 'Quarter', 'Year'
revenue_df[['Quarter', 'Year']] = revenue_df['Years'].str.split(' - ', expand=True)
del revenue_df["Years"]

In [61]:
#Check the types of all columns
print(revenue_df.dtypes)

Area
Asia-Pacific                        int64
Europe,  Middle East and Africa     int64
Latin America                       int64
United States and Canada            int64
Grand Total                         int64
Quarter                            object
Year                               object
dtype: object

In [62]:
#Change'Year' column from string to integer 
revenue_df['Year'] = revenue_df['Year'].astype(int)
print(revenue_df.dtypes)

Area
Asia-Pacific                        int64
Europe,  Middle East and Africa     int64
Latin America                       int64
United States and Canada            int64
Grand Total                         int64
Quarter                            object
Year                                int64
dtype: object

In [63]:
#Final revenue table
revenue_df

Area,Asia-Pacific,"Europe, Middle East and Africa",Latin America,United States and Canada,Grand Total,Quarter,Year
0,199117000,886649000,540182000,1976157000,3602105000,Q1,2018
1,319602000,1233379000,630472000,2256851000,4440304000,Q1,2019
2,483660000,1723474000,793453000,2702776000,5703363000,Q1,2020
3,221252000,975497000,568071000,2049546000,3814366000,Q2,2018
4,349494000,1319087000,677136000,2501199000,4846916000,Q2,2019
5,569140000,1892537000,785368000,2839670000,6086715000,Q2,2020
6,248691000,1004749000,562307000,2094850000,3910597000,Q3,2018
7,382304000,1428040000,741434000,2621250000,5173028000,Q3,2019
8,276756000,1096812000,567137000,2160979000,4101684000,Q4,2018
9,418121000,1562561000,746392000,2671908000,5398982000,Q4,2019

In [65]:
#Save the file as a new csv for future analysis
revenue_df.to_csv('Final_Revenues.csv', index=True)